.hero-modal-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: var(--secondary-text-color);
    padding: 40px;

    transition: transform var(--trns);
}